body{
    background: linear-gradient(#635e63, #362f2f);
    width: 100%;
    height: 100svh;
    margin: 0;
    padding: 0;
}


.site-constructor-instruments{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #252525;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding-left: 200px;
}
.site-constructor-elements{
    position: fixed;
    left: 0;
    top: 200px;
    bottom: 200px;
    width: 200px;
    height: calc(100svh - 400px);
    background: #0000002d;
    border: 1px rgb(163, 161, 161) solid;
    box-shadow: 0 0 0 1px #ffffff;
}
.site-constructor-element-style{
    position: fixed;
    right: 10px;
    top: 200px;
    bottom: 200px;
    width: 200px;
    height: calc(100svh - 400px);
    background: #252525;
    border: 1px rgb(163, 161, 161) solid;
    box-shadow: 0 0 0 1px #ffffff;
}



.site-constructor-content{
    background: #f7f7f7;
    width: 900px;
    height: 600px;
    position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 450px);
}



/* Buttons */

.text{
    height: auto;
    display: flex;
    flex-direction: column;
    background: #252525;
    color: #fff;
    height: 20px;
    margin-top: 15px;
    overflow: hidden;
    transition: 0.3s all ease;
}
.text:hover{
    height: 200px;
    transition: 0.3s all ease;
}
.menuBtn{
    padding: 1px 5px;
    text-transform: uppercase;
    text-align: center;
}
.color{
    background: #252525;
    color: #d2ebf7;
    display: flex;
    padding: 10px 10px;
    text-transform: uppercase;
    gap: 20px;
    align-items: center;
    width: calc(100% - 20px);
}
.background{
    background: #252525;
    color: #d2ebf7;
    display: flex;
    padding: 10px 10px;
    text-transform: uppercase;
    gap: 20px;
    align-items: center;
    width: calc(100% - 20px);
}
.header3{
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
    padding: 20px 10px 5px;
    margin: 0;
    background: #252525;
    color: #fff;
    width: calc(100% - 20px);
}
.styleBtn{
    width: calc(100% - 20px);
    height: 30px;
    padding: 10px 10px;
    text-transform: uppercase;
    background: #252525;
    color: #d2ebf7;
    cursor: pointer;
    transition: 0.5s all ease;
    display: flex;
    align-items: center;
}
.styleBtn:hover{
    color: #252525;
    background: #d2ebf7;
    transition: 0.5s all ease;
}
.btn{
    cursor: pointer;
    padding: 1px 5px;
    text-transform: uppercase;
    text-align: center;
}
.btn:hover{
    background: #ffffff;
    color: #2b2828;
}


.editable {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    cursor: text;
  }  


  /* textarea {
    writing-mode: vertical-rl !important;
    text-rendering: auto;
    color: red;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform:uppercase;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance:unset;
    -webkit-rtl-ordering: none;
    resize:vertical;
    cursor: text;
    white-space:unset;
    overflow-wrap:normal;
    background-color: field;
    column-count: initial !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
} */

/* .wrapper{
    background: #ffffff;
    width: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}
header{
    background-color: #dfd9d9;
} */

.element{
    position: absolute;
    width: 200px;
    min-width: 5px;
    min-height: 10px;
}
.selection{
    position: absolute;
    /* width: 300px;
    height: 300px;
    left: 50px;
    top: 50px; */
    z-index: 999;

}


.topSelection,.bottomSelection{
    width: 100%;
    height: 10px;
    /* background: rgb(46, 44, 150); */
    position: absolute;

}
.leftSelection,.rightSelection{
    height: 100%;
    width: 10px;
    /* background: rgb(46, 44, 150); */
    position: absolute;

}

.leftTopCorner,.leftBottomCorner,.righTopCorner,.righBottomCorner{
    width: 10px;
    height: 10px;
    background: #3853f0;
    position: absolute;
    /* cursor: w-resize; */
}

.leftTopCorner{
    left: -5px;
    top: -5px;
    cursor: nwse-resize;
}
.leftBottomCorner{
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;

}
.righTopCorner{
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}
.righBottomCorner{
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}



.topSelection{
    left: 0;
    top: -10px;
    cursor: ns-resize;
}
.bottomSelection{
    right: 0;
    bottom: -10px;
    cursor: ns-resize;
}

.leftSelection{
    left: -10px;
    top: 0;
    cursor: w-resize;
}
.rightSelection{
    right: -10px;
    top: 0;
    cursor: w-resize;
}
















.target{
    outline:1px #4042b5 solid; 
}

.element:hover{
    cursor:auto;
    user-select: none;
    outline:1px #4042b5 solid; 
    /* resize: both;
    overflow: auto; */
}
.element:active{
    cursor:move;
    user-select: none;
    outline:1px #4042b5 solid; 
}
.element:focus{
    outline:1px #4042b5 solid; 
    cursor:text;
}

p{
    margin: 0;
    padding: 0;
}

