/* General */
:root{
    --font-light-color: #ffffff;
    --font-grey-color: #d4d0d0;
    --font-dar-color: #3b3737;
    --font-black-color: #131313;
    --background-color:linear-gradient(121.54deg, #435356 -2.43%, #4D4D4D 107.69%);
    --background-color2:#252525;
    --background-color3:#c2c1c1;
    --background-color4:#B7B5BA;
    --background-color5:#76747A;
    --box-shadow-color:#242323;
    --ui-background:#252525bf;
}
*{
    margin: 0;
    padding: 0;
    color: var(--font-light-color);
}
body{
    background: var(--background-color3);
    width: 100%;
    height: 100svh;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: 16px;

}
/*  */


/* Left menu / Site-constructor elements navigator */
.constructor-element-links{
    position: fixed;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    padding: 10px 10px;
    height: 70svh;
    background: var(--ui-background);
    border-radius: 5px;
    z-index: 1;
    /* transition: 1s all ease; */
}
.constructor-element-links-hide{
    top: calc(100svh - 50px);
    transform: translateY(0);
    /* transition: 1s all ease; */
}
.blocks-header{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element-link{
    background: var(--background-color5);
    padding: 5px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: 1s all ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.element-link:hover{
    background: var(--background-color4);
    color: var(--background-color2);
    transition: 1s all ease;
    cursor: pointer;
}
.selected-link{
    background: var(--background-color4);
    color: var(--background-color2);
}
.element-type{
    background: var(--box-shadow-color);
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 5px;
}
.element-content{
    font-size: 12px;
    color: inherit;
}
.hide-blocks{
    width: 15px;
    height: 15px;
    background: url("../images/hide.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: 1px solid #ffffff3d;
    /* transition: 1s all ease; */
    filter: invert(100%);
}
.hide-blocks:hover{
    opacity: 0.5;
}
.show-blocks{
    /* transition: 1s all ease; */
    transform: rotate(180deg);
}
/*  */

/* Editable area / Site constructor content */
.site-constructor-content{
    background: var(--font-light-color);
    width: 1200px;
    height: 550px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(50%, 50%);
}
/*  */


/* Right menu / Style apply menu */
.site-constructor-element-style{
    width: 300px;
    height: calc(100svh - 200px);
    /* height: 70svh; */
    position: fixed;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--ui-background);
    z-index: 9000;
    padding: 10px 25px;
    user-select: none;
    border-radius: 5px;
    /* transition: 1s all ease; */
}
.site-constructor-element-style-hide{
    /* transition: 1s all ease; */
    top: calc(100svh - 50px);
    transform: translateY(0);
}
.hide-styles{
    width: 15px;
    height: 15px;
    background: url("../images/hide.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: 1px solid #ffffff3d;
    /* transition: 1s all ease; */
    filter: invert(100%);
}
.hide-styles:hover{
    opacity: 0.5;
}
.show-styles{
    /* transition: 1s all ease; */
    transform: rotate(180deg);
}
.style-constructor-header{
    display: flex;
}
.design,.styles{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--background-color3);
    cursor: pointer;
}
.active-style{
    background: var(--background-color3);
    color: var(--font-black-color);
}
/* Block text-style-editor */
.text-style-editor{
    border-bottom: 1px solid var(--background-color3);
}
.style-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.header-text{
    text-transform: uppercase;
    margin: 10px 0;
}
.style-helper{
    width: 15px;
    height: 15px;
    background: url("../images/help1.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
}
.style-element{
    display: flex;
    margin-bottom: 10px;
}
.style-title{
    width: 150px;
    display: flex;
    align-items: center;
}
.style-interface{
    width: 150px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.single-select{
    width: 100%;
}
select{
    height: 20px;
    border-radius: 5px;
    background: var(--background-color5);
    border: none;
    text-align: center;
}
select:focus{
    border: none;
    outline: none;
}
input[type=color]{
    display: none;
}
.input-color{
    width: 146px;
    height: 16px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: #6d0a0a;
    border: 2px solid var(--background-color5);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input-number{
    width: 100px;
    height: 20px;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
    text-align: center;
}
.bg{
    background: var(--background-color5);
    border-radius: 5px;
}
.letter-spacing,
.line-height{
    text-align: center;
    height: 20px;
    outline: none;
    border: none;
    background: var(--background-color5);
    width: 70px;
    border-radius: 5px;
}
.multi-input{
    display: flex;
    justify-content: space-between;
    width: 150px;
}
.h-shadow,
.v-shadow,
.blur-radius{
    color: var(--font-light-color);
    text-align: center;
    height: 20px;
    outline: none;
    border: none;
    background: var(--background-color5);
    width: 35px;
    border-radius: 5px;
}
.small-input-color{
    width: 31px;
    height: 16px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: #6d0a0a;
    border: 2px solid var(--background-color5);
}
.small-width{
    width: 112px;
}
.margin-top,
.margin-right,
.margin-bottom,
.margin-left{
    text-align: center;
    height: 20px;
    outline: none;
    border: none;
    background: var(--background-color5);
    width: 35px;
    border-radius: 5px;
}
.padding-top,
.padding-right,
.padding-bottom,
.padding-left{
    text-align: center;
    height: 20px;
    outline: none;
    border: none;
    background: var(--background-color5);
    width: 35px;
    border-radius: 5px;
}
.border-top,
.border-right,
.border-bottom,
.border-left{
    color: var(--font-light-color);
    text-align: center;
    height: 20px;
    outline: none;
    border: none;
    background: var(--background-color5);
    width: 35px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.input-range-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-range{
    width: 100px;
}
.input-range-percent{
    width: 50px;
    display: flex;
    justify-content: end;
    align-items: center;

}
.translate-x,
.translate-y,
.translate-z{
    color: var(--font-light-color);
    text-align: center;
    height: 20px;
    outline: none;
    border: none;
    background: var(--background-color5);
    width: 35px;
    border-radius: 5px;
}
.rotate-x,
.rotate-y,
.rotate-z{
    color: var(--font-light-color);
    text-align: center;
    height: 20px;
    outline: none;
    border: none;
    background: var(--background-color5);
    width: 35px;
    border-radius: 5px;
}


/*  */


/* Top menu navigation  */
.menu-container{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    background: var(--ui-background);
    border-radius: 5px;
    z-index: 9999;
}
.menuBtn{
    height: 40px;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.7s all ease;
    filter: invert(100%);
}
.menuBtn:hover{
    background: var(--font-light-color);
    transition: 0.5s all ease;
    color: var(--font-light-color);
    filter: invert(0%);
}
/* create-menu */
.create-navigation{
    display: flex;
    align-items: center;
    width: min-content;
    border-radius: 5px;
}
.save{
    width: 25px;
    height: 25px;
    background: url("../images/save.png");
    background-size: 25px auto;
    background-repeat: no-repeat;
}
.text{
    width: 25px;
    height: 25px;
    background: url("../images/text.png");
    background-size: 25px auto;
    background-repeat: no-repeat;
}
.figure{
    width: 25px;
    height: 25px;
    background: url("../images/rectangle.png");
    background-size: 25px auto;
    background-repeat: no-repeat;
}
.form{
    width: 25px;
    height: 25px;
    background: url("../images/form.png");
    background-size: 25px auto;
    background-repeat: no-repeat;
}
.media{
    width: 25px;
    height: 25px;
    background: url("../images/image.png");
    background-size: 25px auto;
    background-repeat: no-repeat;
}
.table{
    width: 25px;
    height: 25px;
    background: url("../images/table.png");
    background-size: 25px auto;
    background-repeat: no-repeat;
}
.button{
    width: 25px;
    height: 25px;
    background: url("../images/button.png");
    background-size: 25px auto;
    background-repeat: no-repeat;
    align-self: center;
}
.link{
    width: 25px;
    height: 25px;
    background: url("../images/link.png");
    background-size: 25px auto;
    background-repeat: no-repeat;
    align-self: center;
}
/* screen-menu */
.menuScreen{
    height: 40px;
    padding: 5px 15px 5px 0;
    transition: 0.7s all ease;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    transition: 0.5s all ease;
}
.scale{
    display: flex;
    align-items: center;
}
.screen{
    width: 25px;
    height: 25px;
    background: url("../images/screen.png");
    background-size: 25px auto;
    background-repeat: no-repeat;
    align-self: center;
}
.scaleCount{
    width: 50px;
    background: var(--background-color2);
    padding: 2px 10px;
    display: flex;
    justify-content: center;
    filter: invert(100%);
}
.scalePlus{
    width: 15px;
    height: 15px;
    background: url("../images/plus.png");
    background-size: 15px auto;
    background-repeat: no-repeat;
    margin: 0 5px;
    transition: 0.5s all ease;
    filter: invert(100%);
}
.scalePlus:hover{
    filter: invert(0%);
    transition: 0.5s all ease;
}
.scaleMinus{
    width: 15px;
    height: 15px;
    background: url("../images/minus.png");
    background-size: 15px auto;
    background-repeat: no-repeat;
    margin: 0 5px;
    transition: 0.5s all ease;
    filter: invert(100%);
}
.scaleMinus:hover{
    filter: invert(0%);
    transition: 0.5s all ease;
}
/* hidden-menu */

.hidenMenu{
    padding: 5px 15px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    background: var(--background-color2);
    top: 60px;
    z-index: 10 ;
    font-size: 14px;
    font-weight: 200;
}
.textList{
    left: calc(50% - 390px);
    display: none;
}
.figureList{
    left: calc(50% - 260px);
    display: none;
}
.formList{
    left: calc(50% - 210px);
    display: none;
}
.mediaList{
    left: calc(50% - 110px);
    display: none;
}
.tableList{
    left: calc(50% - 80px);
    display: none;
}
.layoutList{
    left: calc(50% + 150px);
    display: none;
}
.btn{
    cursor: pointer;
    padding: 1px 5px;
    text-transform:capitalize;
}
.btn:hover{
    background: var(--background-color3);
    color: #2b2828;
}
.a{
    text-decoration: underline;
}
.b{
    font-weight:bold;
    font-size: 1em;
}
.h1{
    font-size: 1.5em;
}
.h2{
    font-size: 1.3em;
}
.h3{
    font-size: 1.1em;
}
.h4{
    font-size: 1em;
}
.h5{
    font-size: 0.9em;
}
.h6{
    font-size: 0.8em;
}
.shape{
    background: #d1d1d1;
}
.hSmartphone{
    width: 25px;
    height: 25px;
    background: url("../images/smartphone.png");
    background-size: 25px auto;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    filter: invert(100%);
}
.vSmartphone{
    width: 25px;
    height: 25px;
    background: url("../images/smartphone.png");
    background-size: 25px auto;
    background-repeat: no-repeat;
    filter: invert(100%);
}
.hTablet{
    width: 30px;
    height: 30px;
    background: url("../images/tablet.png");
    background-size: 30px auto;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    filter: invert(100%);
}
.vTablet{
    width: 30px;
    height: 30px;
    background: url("../images/tablet.png");
    background-size: 30px auto;
    background-repeat: no-repeat;
    filter: invert(100%);
}
.laptop{
    width: 40px;
    height: 40px;
    background: url("../images/laptop.png");
    background-size: 40px auto;
    background-repeat: no-repeat;
    filter: invert(100%);
}
.layout-element{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 40px;
    padding: 5px 10px;
    cursor: pointer;
}
.layout-element:hover{
    background: var(--background-color3);
    color: #2b2828;
}
/*  */


/*Element and Target Style */
.editable{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    cursor: text;
}
.movable{
    cursor: grabbing;
}
.element{
    position: absolute;
    width: 200px;
    min-width: 5px;
    min-height: 10px;
    word-wrap: break-word;
    color: var(--font-black-color);
}
.element:hover{
    cursor:auto;
    user-select: none;
    outline:1px #4042b5 solid; 
}
.element:active{
    cursor:move;
    user-select: none;
    outline:1px #4042b5 solid; 
}
.element:focus{
    outline:1px #4042b5 solid; 
    cursor:text;
}
.target{
    outline:1px #4042b5 solid; 
}
/*  */

/* Selection styles */
.selection{
    position: absolute;
    z-index: 999;
}
.topSelection,.bottomSelection{
    width: 100%;
    height: 10px;
    position: absolute;
}
.leftSelection,.rightSelection{
    height: 100%;
    width: 10px;
    position: absolute;
}
.leftTopCorner,.leftBottomCorner,.righTopCorner,.righBottomCorner{
    width: 10px;
    height: 10px;
    background: #3853f0;
    position: absolute;
}
.leftTopCorner{
    left: -5px;
    top: -5px;
    cursor: nwse-resize;
}
.leftBottomCorner{
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
}
.righTopCorner{
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}
.righBottomCorner{
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}
.topSelection{
    left: 0;
    top: -10px;
    cursor: ns-resize;
}
.bottomSelection{
    right: 0;
    bottom: -10px;
    cursor: ns-resize;
}
.leftSelection{
    left: -10px;
    top: 0;
    cursor: w-resize;
}
.rightSelection{
    right: -10px;
    top: 0;
    cursor: w-resize;
}
/*  */